/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* browser rest */
*,
*::after,
*::before {
  background: transparent;
	border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
	text-decoration: none;
}

html {
  font-size: 62.5%;
  letter-spacing: .05rem;
  overflow-x: hidden;
}

body {
  background-color: #f7f2e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	color: #2b292d;
	font-family: 'Roboto', sans-serif;
}

/* screen-reader */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: .1rem;
  margin: -.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
}

/* nav */
.main-nav {
	background-color: white;
}

.main-nav__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
	max-width: 1200px;
	padding: 14px 20px;
	text-transform: uppercase;
}

@media all and (min-width: 1000px) {
	.main-nav__wrapper{
		padding: 14px 50px;
	}
}

.main-nav__logo {
  font-family: 'Abril Fatface', serif;
  font-size: 1.8rem;
  letter-spacing: 0.2em;
  margin-top: 6px;
  text-transform: lowercase;
}

@media all and (min-width: 640px) {
	.main-nav__logo {
    font-size: 2.4rem;
    margin-bottom: auto;
	}
}

.sub-navs {
  display: none;
}

.mobile-menu {
  display: inline-block;
}

@media all and (min-width: 640px) {
  .sub-navs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    text-transform: uppercase;
  }

	.sub-navs__link a {
		-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
		color: #1a1a1a;
		color: black;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 1.2rem;
		font-weight: 700;
		-webkit-box-pack: center;
				-ms-flex-pack: center;
						justify-content: center;
		letter-spacing: .15rem;
		margin: 0px 10px;
		padding: 4px 14px;
		position: relative;
		text-align: left;
  }
  
  .mobile-menu {
    display: none;
  }
}

.sub-navs__link {
	color: #000;
	display: inline-block;
	text-decoration: none;
}

.sub-navs__link::after {
	background: #83b2a4;
	content: '';
	display: block;
	height: 3px;
	-webkit-transition: width .3s;
	-o-transition: width .3s;
	transition: width .3s;
	width: 0;
}

.sub-navs__link:hover::after {
	-webkit-transition: width .3s;
	-o-transition: width .3s;
	transition: width .3s;
	width: 100%;
}

/* header */
header {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: column-reverse;
	margin: 0 auto;
	max-width: 640px;
  padding: 60px 40px 0;
  text-align: center;
}

@media all and (min-width: 760px) {
	header {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 0px;
		        flex: 1 1 0px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin: 0 auto;
		max-width: 1200px;
		padding: 60px 50px 0;
    text-align: left;
	}
}

header h2{
  font-family: 'Lora', serif;
  font-size: 4rem;
  margin-bottom: 30px;
}

@media all and (min-width: 640px) {
  header h2{
    font-size: 6.4rem;
    letter-spacing: .5rem;
    line-height: 1.2;
  }
}

.byline {
  font-size: 1.6rem;
  line-height: 1.5;
	margin-bottom: 30px;
}

@media all and (min-width: 640px) {
  .byline {
    font-size: 1.8rem;
    margin-bottom: 40px;
    margin-right: 100px;
  }
}

@media all and (max-width: 760px) and (min-width: 640px) {
  .byline {
    margin-right: 0px;
  }
}

.button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media all and (min-width: 640px) {
	.button-wrapper {
		display: block;
	}
}

.cta-button {
	background-color: #ee6e7b;
	border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 0 auto;
	padding: 19px 40px 20px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: background-color .4s ease-out;
	-o-transition: background-color .4s ease-out;
	transition: background-color .4s ease-out;
	width: 70%;
}

.download {
  margin-left: 8px;
  padding: 12px 16px;
}

@media all and (min-width: 640px) {
	.cta-button {
    font-size: 1.2rem;
		width: auto;
  }
  
  .download {
    margin-left: 8px;
    padding: 12px 16px;
  }
}

.cta-button:hover {
	background-color: #da4d5b;
}

.row {
	align-items: flex-end;
	display: flex;
	height: 100%; 
	margin-bottom: 30px;
	position: relative;
	width: 120%;
}

@media all and (min-width: 640px) {
	.row {
		margin-bottom: 0;
	}
}

.background-container {
	bottom: -30px;
	height: 190%;
	position: absolute;
	-webkit-transform: rotate(250deg);
	    -ms-transform: rotate(250deg);
	        transform: rotate(250deg);
	z-index: -1;
}

@media all and (min-width: 759px) {
	.background-container {
		height: 170%;
		top: -100px;
	}
}

.background-pattern {
	max-width: 100%;
	max-height: 100%;
	-o-object-fit: fill;
		 object-fit: fill;
	opacity: .7;
	translate: rotate(45deg);
}

.img-flowers,
.img-woman { 
	-o-object-fit: contain; 
		 object-fit: contain;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
		 filter: drop-shadow(5px 5px 5px #222); 
	width: 100%;
}

@media all and (min-width: 640px) {
	.img-woman { 
		width: 110%;
	}
	
	.img-flowers { 
		width: 120%;
	}
}